
@{
    ViewBag.Title = "YeniKategori";
}

<form class="form-group" method="post">
    <div>
        <label>Kategori Adı</label>
        <input type="text" class="form-control" name="ad" />
    </div>
    <div>
        <label>Açıklama</label>
        <input type="text" class="form-control" name="aciklama" />
    </div>
    <br />
    <div>
        <button class="bs-tooltip-start">Kategori Ekle</button>
    </div>

</form>

