
@{
    ViewBag.Title = "YeniKullanici";
}

<form class="form-group" method="post">
    <div>
        <label>Ad</label>
        <input type="text" class="form-control" name="ad" />
    </div>
    <div>
        <label>Soyad</label>
        <input type="text" class="form-control" name="soyad" />
    </div>
    <div>
        <label>Email</label>
        <input type="text" class="form-control" name="email" />
    </div>
    <div>
        <label>Şifre</label>
        <input type="text" class="form-control" name="adres" />
    </div>
    <br />
    <div>
        <button class="bs-tooltip-start">Kullanıcı Ekle</button>
    </div>

</form>



