
<div class="container text-center">
    <div class="row">
        <div class="col">
            <img src="~/Content/AdminLTE/dist/img/ü4.jpg" style="width: 200px; height: 180px; margin-bottom: 2px;">
        </div>
        <div class="col">
            <img src="~/Content/AdminLTE/dist/img/ü2.jpg" style="width:200px; height:180px;">
        </div>
        <div class="col">
            <img src="~/Content/AdminLTE/dist/img/ü3.jpg" style="width: 200px; height: 180px; margin-bottom: 2px;">
        </div>
    </div>
    <div class="row">
       
        <div class="col">
            <h1 style="color:purple; font-size:60px; margin-top:10px;margin-bottom:20px;">    Hoş Geldiniz</h1>
        </div>
        
    </div>
    <div class="row">
        <div class="col">
            <img src="~/Content/AdminLTE/dist/img/ü6.jpg" style="width:200px; height:180px;">
        </div>
        <div class="col">
            <img src="~/Content/AdminLTE/dist/img/ü7.jpg" style="width:200px; height:180px;">
        </div>
        <div class="col">
            <img src="~/Content/AdminLTE/dist/img/ü5.jpg" style="width:200px; height:180px;">
        </div>
    </div>
</div>