@using projee.Models
@model Hasta
@{
    ViewBag.Title = "YeniHasta";
}

<form class="form-group" method="post">
    <div>
        <label>Ad</label>
        <input type="text" class="form-control" name="ad" />
    </div>
    <div>
        <label>Soyad</label>
        <input type="text" class="form-control" name="soyad" />
    </div>
    <div>
        <label>TC</label>
        <input type="text" class="form-control" name="tc" />
    </div>
    <div>
        <label>Cinsiyet</label>
        <input type="text" class="form-control" name="cinsiyet" />
    </div>
    <div>
        <label>Yaş</label>
        <input type="text" class="form-control" name="yas" />
    </div>
    <div>
        <label>Telefon</label>
        <input type="text" class="form-control" name="tel" />
    </div>
    <div>
        <label>Adres</label>
        <input type="text" class="form-control" name="adres" />
    </div>
    <div>
        <label>KanGrup</label>
        <input type="text" class="form-control" name="kanGrup" />
    </div>
    <br />
    <div>
        <button class="bs-tooltip-start">Hasta Ekle</button>
    </div>

</form>





